{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}
<title>GNB Contacto</title>
{% endblock %}


{% block content %}

<div class="container mt-5">
  <h1>Formulario de Contacto</h1>
  <form id="form" method="post" action="/gnb/contact/">
    {% csrf_token %}
    <!-- Agregar campos del formulario aquí -->
    <div class="mb-3">
      <label for="mensaje" class="form-label">Mensaje:</label>
      <textarea class="form-control" id="contact_msg" name="contact_msg" rows="7"></textarea>
    </div>

    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
  </form>
</div>


{% endblock %}