<footer class="py-2 bg-black" style="margin-top: 10px; margin-bottom: 0px;">
  <div class="container px-5 d-flex justify-content-between align-items-center">
    <div>
      <p class="m-0 text-white small">
        <span id="madewith1">GNB Versión {{APP_VERSION}} <br>
        <a href="https://framagit.org/komun/gnb">Software libre</a> desarrollado por amor al hacktivismo gracias a <a href="https://komun.org">Komun SobTec</a>.
        <br><i class="text-danger bi bi-balloon-heart-fill"></i> (Donaciones en GNB al proyecto: KST)</span>
      </p>
    </div>
    <div>
      <p class="m-0 text-white text-end small">{{INVOICE_ORG_DETAILS|safe}}</p>
    </div>
  </div>
  <!-- Back to top button -->
  <button onclick="topFunction()" id="btn-back-to-top" title="Go to top"><i class="bi bi-arrow-up"></i></button>

  <!-- Extension of the footer by other templates-->
  {% block footer %}{% endblock %}

</footer>
{% block script %}{% endblock %}