{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/print.css" />

<script>
  function get_taxid_name(id) {

    var taxIdNameMap = {
      42: 'IVA 4%', 43: 'IVA 10%',
      2: 'IVA 21%', 65: 'Exportación',
      47: 'Sin IVA 0%', 19: 'Servicio intracomunitario 0%',
      35: 'IVA Exento Repercutido No Sujeto'
    };

    // Return the name for the given ID
    return taxIdNameMap[id];
  }

  function printItem() {
    var content = document.getElementById("main_card").innerHTML;
    var originalBody = document.body.innerHTML;

    document.body.innerHTML = content;

    window.print();

    document.body.innerHTML = originalBody;
  }

</script>
{% endblock %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container-fluid p-0">
  <div class="alert 
    {%if object.state == 'approve' %} alert-warning
    {%elif object.state == 'draft' %} alert-secondary
    {%elif object.state == 'done' %} alert-success
    {% endif %}
  alert-dismissible" role="alert" >
      {%if object.state == 'approve' %} La Hoja de gasto está en espera de aprobación. Recibirás un correo electrónico cuando se haya aprobado.
      {%elif object.state == 'draft' %} La Hoja de gasto está en modo borrador.
      {%elif object.state == 'done' %} La Hoja de gasto está aprobada.
      {% endif %}
  </div>
</div>

<div class="card" id="main_card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-sm-9">
            <h2>Hoja de Gasto nº {{object.name}}</h2>
            <ul class="list-unstyled">
              <li class="text-muted">
                <i class="bi bi-calendar" style="color:#84B0CA ;"></i>
                <span class="fw-bold">Fecha: </span>{{object.accounting_date}}
              </li>
            </ul>
        </div>
        <div class="no-print col-sm-3 float-end">
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"
            href="javascript:printItem();">
            <i class="bi bi-printer text-primary"></i> Imprimir</a>
            {% if user.is_superuser %}<a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"
              href="{% url 'odoo:validate_expense' expense_sheet_id=object.id %}">
            <i class="bi bi-hand-thumbs-up-fill text-primary"></i> Aprobar y notificar</a>
            {% endif %}
        </div>
        <hr>
      </div>

      <div class="row my-2 mx-1 justify-content-center">
        <table class="table table-striped table-borderless">
          <thead style="background-color:#84B0CA ;" class="text-white">
            <tr>
              <th class="col">#</th>
              <th class="col">Descripción</th>
              <th class="col text-center">Cantidad</th>
              <th class="col text-center">Precio Unidad</th>
              <th class="col text-center">Impuestos</th>
              <th class="col text-center">Importe</th>
            </tr>
          </thead>
          <tbody>
            {% for move_line in move_lines %}
            <tr>
              <td class="fw-bold text-left">{{forloop.counter}}</td>
              <td>{{move_line.name}}</td>
              <td class="text-center">{{move_line.quantity}}</td>
              <td class="text-center">{{move_line.unit_amount}} €</td>
              <td class="text-center" id="taxNamesContainer-{{forloop.counter}}">
                {% for tax_id in move_line.tax_ids %}
                <script>
                  var taxName = get_taxid_name({{ tax_id }});
                  // Create a span element to hold the tax name
                  var spanElement = document.createElement('span');
                  spanElement.textContent = "(" + taxName + ")";
                  // Append the span to the container
                  document.getElementById('taxNamesContainer-{{forloop.parentloop.counter}}').appendChild(spanElement);

                </script>
                {% endfor %}
              </td>
              <td class="text-center">{{move_line.total_amount|floatformat:2}} €</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      <div class="row float-end text-end">
        <p>
          <span class="text-black me-3"> Total Impuestos</span>
          <span style="font-size: 22px;">{{object.taxed_amount|floatformat:2}} €</span>
        </p>

        <p class="text-black ">
          <span class="text-black me-3"> Importe total</span>
          <span style="font-size: 22px;">{{object.total_amount|floatformat:2}} €</span>

        </p>

      </div>
      
    </div>
  </div>
</div>
</div>


{% endblock %}
