{% extends "base.html" %}
{% load custom_filters %}
{% block head %}

{% endblock %}
{% block title %}
<title>GNB Mi Panel</title>
{% endblock %}

{% block content %}

{% if project.archived %}
<div class="alert alert-warning alert-dismissible mt-4" role="alert">
  <i class="bi bi-database-fill-lock"></i> Este proyecto está <b>archivado</b>, no puede generar facturas ni hojas de gasto.
</div>
{% endif %}
<div class="py-5 text-center">
  <h1>{{ project.name }} ({{project.code}}) 
    </h1>
</div>

{% if user.is_superuser %}
  <div class="col-md-3 col-sm-6 col-6 mb-2">
    <div class="card border-left-dark shadow h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Cuenta Corriente(<small>solo admins</small>)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{project_total.account_checking|floatformat:2}} €
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


<div class="row">
  <div class="col-md-3 col-sm-6 col-6 mb-2">
    <div class="card border-left-success shadow h-100">
      <div class="card-header">
        <h4 class="text-center text-dark">Saldo<i class="text-dark bi bi-piggy-bank-fill"></i></h4>
      </div>
      <div class="card-body balance">
        <p class="text-center h5 mb-0">Total: {{project_total.available_balance|floatformat:2}} €</p>
        {%for account_code, account in cash_accounts.items %}
        <p class="text-center h5 mb-0">{% if user in account.admins or user.is_superuser%}<a href="javascript:addCashAccountTx({{account.id}}, '{{account.name}}')"><i class="text-dark bi bi-plus-square"></i></a>{% endif %}{{account.name}}: {{account.balance|floatformat:2}} €</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {%if not project.main_project  %}
      {% if project_total.unjustified_total > 0 %}
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-warning shadow h-100">
          <div class="card-header border-warning">
            <h4 class="text-center text-warning">Total sin justificar <i class="text-dark bi bi-file-earmark-excel"></i></h4>
          </div>
          <div class="card-body balance">
            <p class="text-center h5 mb-0">{{project_total.unjustified_total|floatformat:2}} €</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% if project_total.unjustified_total < 0 %}
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-success shadow h-100">
          <div class="card-header border-success">
            <h4 class="text-center text-success">Justificado extra <i class="text-dark bi bi-file-earmark-excel"></i></h4>
          </div>
          <div class="card-body balance">
            <p class="text-center h5 mb-0">{{project_total.unjustified_total|change_sign|floatformat:2}} €</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% if project_total.account_loans %}
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-warning shadow h-100">
          <div class="card-header">
            <h4 class="text-center text-warning">Préstamos <i class="text-dark bi bi-magic"></i></h4>
          </div>
          <div class="card-body balance">
            <p class="text-center h5 mb-0">{{project_total.account_loans|floatformat:2}} €</p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-success shadow h-100">
          <div class="card-header">
            <h4 class="text-center text-dark">Donaciones realizadas</h4>
            <small><a target="_blank" href="{{ project_total.why_donations_url}}">¿Cómo se usan las donaciones?</a></small>
          </div>
          <div class="card-body balance">
            <p class="text-center h5 mb-0">{{project_total.made_donations|floatformat:2}} € 
              {% if project_total.percentage_donations is not None%} ({{project_total.percentage_donations|floatformat:0}}%){% endif %}
              <br><small>
              {% if project_total.percentage_donations >= 100 %}Muchas gracias <i class="text-danger bi bi-balloon-heart-fill"></i><i class="text-danger bi bi-balloon-heart-fill"></i>
              {% elif not project_total.recommended_extra_donations and project_total.made_donations %} Muchas gracias <i class="text-danger bi bi-balloon-heart-fill"></i><i class="text-danger bi bi-balloon-heart-fill"></i>
              {% elif project_total.recommended_extra_donations %} 🙏 Se recomienda +{{ project_total.recommended_extra_donations|floatformat:2}} € extra 
              {% endif %}
             </small>
            </p>
          </div>
        </div>
      </div>
    </div>
{% endif %}



{%if not project.main_project %} 
    {%if project.can_invoice %} 
    <div class="row">
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-danger shadow h-100">
          <div class="card-header">
            <h4 class="text-center text-success">Ingresos facturados <i class="text-success bi bi-cash"></i></h4>
          </div>
          <div class="card-body balance">
            <p class="text-center h5 mb-0">{{project_total.account_sales|floatformat:2}} €</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-warning shadow h-100">
          <div class="card-header">
            <h4 class="text-center text-warning">Ingresos no cobrados <i class="text-warning bi bi-cash"></i></h4>
          </div>
          <div class="card-body balance">
            <p class="text-center h5 mb-0">{{project_total.total_invoices_untaxed|floatformat:2}} €</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-danger shadow h-100">
          <div class="card-header">
            <h4 class="text-center text-danger">Gastos justificados <i class="text-danger bi bi-cash"></i></h4>
          </div>
          <div class="card-body balance">
            <p class="text-center h5 mb-0">{{project_total.account_expenses|change_sign|floatformat:2}} €</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6 mb-2">
        <div class="card border-left-warning shadow h-100">
          <div class="card-header">
            <h4 class="text-center text-warning">Gastos no pagados <i class="text-warning bi bi-cash"></i></h4>
          </div>
          <div class="card-body balance">
            <p class="text-center h5 mb-0">{{project_total.total_unpaid_expenses|floatformat:2}} €</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

<ul class="nav nav-tabs" id="projectTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions" type="button" role="tab" aria-controls="transactions" aria-selected="true">Transacciones</button>
  </li>
  {%if project.can_invoice %} 
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="invoices-tab" data-bs-toggle="tab" data-bs-target="#invoices" type="button" role="tab" aria-controls="invoices" aria-selected="false">Facturas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="expenses-tab" data-bs-toggle="tab" data-bs-target="#expenses" type="button" role="tab" aria-controls="expenses" aria-selected="false">Gastos</button>
    </li>
  {% endif %}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="members-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="false">Miembros</button>
  </li>
</ul>

<div class="tab-content" id="projectTabContent">
  <div class="tab-pane fade show active" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
    <!-- <p>Contenido de la pestaña Transacciones...</p> -->
    {% if user_is_project_admin or user.is_superuser%}
      <div class="container p-2">
        <div class="alert alert-dark" role="alert">
          {% include "frontend/transaction_form.html" %}
        </div>
      </div>
    {% endif %}
    {% for name, txs in transactions.items %}
    {%if txs %}
      <h3>{% if name == 'checking' %}Cuenta Corriente{%else%}{{name}}{%endif%}</h3>
    <table id="table-transactions" data-toggle="table" data-sort-name="total" data-sort-order="desc" class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
          <tr class="table-secondary">
          {% if user.is_superuser %} <th data-field="id" data-sortable="true">ID</th>{% endif %}
          <th data-field="fecha" data-sortable="true">Fecha</th>
          <th data-field="cliente" data-sortable="true">Origen</th>
          <th data-field="destino" data-sortable="true">Destino</th>
          <th data-field="total" data-sortable="true">Total</th>
          <th class="d-none d-sm-table-cell" data-field="referencia" data-sortable="true">Referencia</th>
          <th class="d-none d-sm-table-cell" data-field="estado" data-sortable="true">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for tx in txs %}
        <tr>
          {% if user.is_superuser %}<td><a href="{{ODOO_DOMAIN}}/web#id={{tx.id}}&action=215&model=account.move&view_type=form" target="_blank">{{tx.id}}</a></td> {% endif %}
          <td>{{tx.date}}</td>
          <td>{{tx.sender}}</td>
          <td>{{tx.receiver}}</td>
          <td><span {% if not tx.positive %}style="color:red"{% endif %}>{{tx.amount_total}}€</span></td>
          <td class="d-none d-sm-table-cell">{{tx.ref}}</td>
          <td class="d-none d-sm-table-cell">{{tx.state}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endfor %}
  </div>
  <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
    <!-- <p>Contenido de la pestaña Facturas...</p> -->
    {%if project.can_invoice %}
      <div class="py-5 text-center">
        <h2>Facturas</h2>
      </div>
      <div class="text-end mt-3 me-3 mb-3">
        {% if not project.archived %} 
        <a href="{% url 'new_invoice_view' project.code %}{% if user_id %}?user={{ user_id }}{% endif %}" class="btn btn-primary">
          Nueva Factura
        </a>
        {% endif %}
      </div>
      <table id="table-invoices" data-toggle="table" data-sort-name="total" data-sort-order="desc"
        class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th data-field="numero" data-sortable="true">Número</th>
            <th data-field="cliente" data-sortable="true">Cliente</th>
            <th data-field="fecha" data-sortable="true">Fecha</th>
            <th data-field="total" data-sortable="true">Total</th>
            <th class="d-none d-sm-table-cell" data-field="adeudado" data-sortable="true">Adeudado</th>
            <th class="d-none d-sm-table-cell" data-field="estado" data-sortable="true">Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices%}
          <tr>
            <td>{%if user_is_project_admin %}<a href="{% url 'get_invoice_view' invoice_id=invoice.id %}">{{invoice.name}}</a>
              {%else %}{{invoice.name}}
              {% endif %}
            </td>
            <td>{{invoice.partner_id.1}}</td>
            <td>{{invoice.invoice_date}}</td>
            <td>{{invoice.amount_total_signed}} €</td>
            <td class="d-none d-sm-table-cell">{{invoice.amount_residual_signed}} €</td>
            <td class="d-none d-sm-table-cell">{%if invoice.state == 'posted' and invoice.invoice_payment_state == 'paid' %}Pagada
                {%elif invoice.state == 'posted' %} Enviada
                {%elif invoice.state == 'draft' %} Borrador
                {%else %}{{invoice.state}}
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
  </div>
  <div class="tab-pane fade" id="expenses" role="tabpanel" aria-labelledby="expenses-tab">
    {%if project.can_invoice %}
      <div class="py-5 text-center">
        <h2>Hojas de gasto</h2>
      </div>
      <div class="text-end mt-3 me-3 mb-3">
        {% if not project.archived %}
        <a href="{% url 'new_expense_view' project.code %}{% if user_id %}?user={{ user_id }}{% endif %}" class="btn btn-primary">
          Nueva Hoja de Gasto
        </a>
        {% endif %}
      </div>
      <table id="table" data-toggle="table" data-sort-name="total" data-sort-order="desc" class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th data-field="numero" data-sortable="true">Número</th>
          <th data-field="fecha" data-sortable="true">Fecha</th>
          <th data-field="total" data-sortable="true">Total</th>
          <th data-field="estado" data-sortable="true">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for item in expenses%}
        <tr>
          <td>{%if user_is_project_admin %}<a href="{% url 'get_expense_sheet_view' expense_sheet_id=item.id %}">{{item.name}}</a>{% else %}
            {{item.name}}
          {% endif %}</td>
          <td>{{item.accounting_date}}</td>
          <td>{{item.total_amount}} €</td>
          <td>{%if item.state == 'approve' %} Por aprobar
            {%elif item.state == 'draft' %} Borrador
            {%elif item.state == 'done' %} Aprobado
            {%else %}{{invoice.state}}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
    <!-- <p>Contenido de la pestaña Miembros...</p> -->
    <ul>
      {% for email,role in members.items%}
        <li>{{email}}{% if role == 'admin' %} <i class="bi bi-shield-fill-check" alt="Es admin en este proyecto"></i>{% endif %}</li> 
      {% endfor %}
    </ul>

  </div>
</div>

 
    
   
{% endif %}
<script src="/static/js/transactions.js"></script>

{% block script %}

<script>
  
</script>
{% endblock %}

{% endblock %}
