{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/print.css" />

<script>
  function get_taxid_name(id) {

    var taxIdNameMap = {
      42: 'IVA 4%', 43: 'IVA 10%',
      2: 'IVA 21%', 65: 'Exportación',
      47: 'Sin IVA 0%', 19: 'Servicio intracomunitario 0%',
      35: 'IVA Exento Repercutido No Sujeto'
    };

    // Return the name for the given ID
    return taxIdNameMap[id];
  }

  function printInvoice() {
    var content = document.getElementById("main_card").innerHTML;
    var originalBody = document.body.innerHTML;
    document.body.innerHTML = content;
    window.print();
    document.body.innerHTML = originalBody;
  }

</script>
{% endblock %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container-fluid p-0">
  <div class="alert 
    {%if invoice.state == 'approve' %} alert-warning
    {%elif invoice.state == 'draft' %} alert-secondary
    {%elif invoice.state == 'posted' %} alert-success
    {% endif %}
  alert-dismissible" role="alert" >
  
      {%if invoice.state == 'approve' %} La factura está en espera de aprobación. Recibirás un correo electrónico cuando se haya aprobado.
      {%elif invoice.state == 'draft' %} La factura está en modo borrador.
      {%elif invoice.state == 'posted' %} La factura está aprobada{%if invoice.invoice_payment_state == 'paid' %}<b> y pagada</b>{% endif %}.
      {% endif %}
  </div>
</div>


<div class="card" id="main_card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-sm-9">
            <h2>Factura nº {{invoice.name}}</h2>
            <ul class="list-unstyled">
              <li class="text-muted">
                <i class="bi bi-calendar" style="color:#84B0CA ;"></i>
                <span class="fw-bold">Fecha de factura: </span>{{invoice.invoice_date}}
              </li>
              <li class="text-muted">
                <i class="bi bi-calendar" style="color:#84B0CA ;"></i>
                <span class="fw-bold">Fecha de vencimiento: </span>{{invoice.invoice_date_due}}
              </li>
            </ul>
        </div>
        <div class="no-print col-sm-3 float-end">
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"
            href="javascript:printInvoice();">
            <i class="bi bi-printer text-primary"></i> Imprimir</a>
            {% if user.is_superuser %}<a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"
              href="{% url 'odoo:validate_invoice' invoice_id=invoice.id %}">
            <i class="bi bi-hand-thumbs-up-fill text-primary"></i> Aprobar y notificar</a>
            {% endif %}
        </div>
        <hr>
      </div>

      <div class="row">
        {%if invoice.state == 'posted' %}
        <div class="col-xl-8 col-sm-6">
          <ul class="list-unstyled">
            <li class="text-muted">{{INVOICE_ORG_DETAILS|safe}}</li>
          </ul>
        </div>
        {% endif %}
        <div class="col-xl-4 col-sm-6">
          <ul class="list-unstyled">
            <li class="text-muted"> <span style="color:#5d9fc5 ;">{{partner.name}}</span></li>
            <li class="text-muted">{{partner.street}}</li>
            <li class="text-muted">{{partner.zip}}, {{partner.city}},{{partner.state_id.1}}</li>
            <li class="text-muted">Nº identif. fiscal (NIF): {{partner.vat}}</li>
          </ul>
        </div>
      </div>

      <div class="row my-2 mx-1 ms-3 justify-content-center" style="font-size: smaller;">
        <table class="table table-striped table-borderless ">
          <thead style="background-color:#84B0CA ;" class="text-white">
            <tr>
              <th class="col">Descripción</th>
              <th class="col text-center">Cantidad</th>
              <th class="col text-center">Precio Unidad</th>
              <th class="col text-center">Impuestos</th>
              <th class="col text-center">Importe</th>
            </tr>
          </thead>
          <tbody>
            {% for move_line in move_lines %}
            <tr>
              {%if move_line.display_type == "line_note" %}
                <td style="background-color: #FFFF99; text-align: center;"><i>{{move_line.name}}</i></td>
              {% else %}
                <td>{{move_line.name}}</td>
              
              <td class="text-center">{{move_line.quantity}}</td>
              <td class="text-center">{{move_line.price_unit}} €</td>
              <td class="text-center" id="taxNamesContainer-{{forloop.counter}}">
                {% for tax_id in move_line.tax_ids %}
                <script>
                  var taxName = get_taxid_name({{ tax_id }});
                  // Create a span element to hold the tax name
                  var spanElement = document.createElement('span');
                  spanElement.textContent = "(" + taxName + ")";
                  // Append the span to the container
                  document.getElementById('taxNamesContainer-{{forloop.parentloop.counter}}').appendChild(spanElement);

                </script>
                {% endfor %}
              </td>
              <td class="text-center">{{move_line.price_subtotal}} €</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <p class="ms-3"><b>Por favor utilice la siguiente referencia al realizar su pago: {{invoice.name}}</b></p>
        </div>
        <div class="col-sm-4">
          <ul class="list-unstyled text-end mr-3">
            <li class="text-muted ms-3">
              <span class="text-black me-4">SubTotal</span>{{invoice.amount_untaxed}} €
            </li>
            {% for tax_group in invoice.amount_by_group %}
            <li class="text-right text-muted ms-3 mt-2">
              <span class="text-black me-4">{{tax_group.0}}</span>{{tax_group.1}} €
            </li>
            {% endfor %}
            <li class="text-black ms-2">
              <span class="text-black me-4">Importe total</span>{{invoice.amount_total}} €
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>{{INVOICE_ORG_DETAILS_BELOW|safe}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}
