<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container px-5 text-white">
    <a class="navbar-brand" href="/"><img class="img-fluid rounded-3 my-5" src="/static/assets/images/logo.png"
        alt="Logotipo GNB, que se identifica con un suricato con la mano abierta mostrando las letras GNB" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="ms-auto mb-2 mb-lg-0" id="username_navbar">
      {% if user.is_superuser %}
      <span>Actuando como usuario:</span>
      <select class="selectpicker" id="user_selector" data-live-search="true">
        <option value="----">------</option>
        {% for u in all_users %}
        <option value="{{ u.id }}" {% if u.id == user_id %}selected="selected" {% endif %}>{{ u.username }}</option>
        {% endfor %}
      </select>
      {% else %}
      Hola {{ user.username }}
      {% endif %}
      <script>
        const userSelector = document.getElementById("user_selector");
        userSelector.addEventListener("change", function () {
          const selectedUserId = this.value;
          const currentUrlWithoutParams = window.location.href.split('?')[0];
          const newUrl = `${currentUrlWithoutParams}?user=${selectedUserId}`;
          window.location.href = newUrl;
        });
      </script>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'my_dashboard_view' %}{%if user_id %}?user={{user_id}}{%endif%}">Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "
            href="{% url 'get_invoices_view' %}{%if user_id %}?user={{user_id}}{%endif%}">Facturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'get_expenses_view' %}{%if user_id %}?user={{user_id}}{%endif%}">Gastos</a>
        </li>

        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle show align-items-center" href="#" id="my_account" data-bs-toggle="dropdown"
            aria-expanded="false">
            Administración</a>
          <ul class="dropdown-menu" aria-labelledby="my_account" data-bs-popper="none">
            <li><a class="nav-link text-black" href="{% url 'new_cashin_view' %}">Añadir Ingreso</a></li>
            <li><a class="nav-link text-black" href="{% url 'new_project_view' %}">Nuevo Proyecto</a></li>
            <li><a class="nav-link text-black" href="{% url 'new_user_view' %}">Nuev@ Usuari@</a></li>
            <li><a class="nav-link text-black" href="{% url 'users_report_view' %}">Balances Usuarios</a></li>
            <li><a class="nav-link text-black" href="{% url 'projects_report_view' %}">Balances Proyectos</a></li>

            <li><a class="nav-link text-black" href="/admin/">Backend</a></li>
          </ul>
        </li>
        {% endif %}


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle show align-items-center" style="margin-top:-7px" href="#" id="my_account"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-3"></i></a>

          <ul class="dropdown-menu" aria-labelledby="my_account" data-bs-popper="none">
            <li><a class="nav-link text-black" href="{% url 'contact_view' %}">Contacto</a></li>
            <li><a class="nav-link text-black" href="{% url 'logout' %}">Desconectarse</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
