{% extends "base.html" %}
{% load custom_filters %}
{% block head %}

{% endblock %}
{% block title %}
<title>GNB Mi Panel</title>
{% endblock %}

{% block content %}

<div class="row">
  <div class="p-3 d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-0 text-gray-800">Panel de {{ total_personal.name }}</h1>
  </div>
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
              Cuenta Corriente Personal
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{total_personal.account_checking|floatformat:2}} €
            </div>
          </div>
          <div class="col-auto">
            <i class="bi bi-piggy-bank-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
              Capital social
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{total_personal.account_social_capital|floatformat:2}} €
            </div>
          </div>
          <div class="col-auto">
            <i class="bi bi-flower3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%if total_personal.account_loans and total_personal.account_loans < 0 %}
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Préstamos:
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{total_personal.account_loans|change_sign|floatformat:2}} €
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endif %}
</div>
<hr />
<div class="row">

  <!-- Proyectos -->
  <div class="py-5 text-center">
    <h2>Mis Proyectos</h2>
    <hr>
  </div>
  <ul class="list-group project-list">
    {% for project_code, project in user_projects.items %}
    <li class="list-group-item" >
      <a class="big" href="{% url 'project_view' project_code=project_code %}">[{{ project_code }}] {{ project.name }}</a>
          {% if project.archived %}
            <span class="badge bg-secondary badge-sm"><i class="bi bi-database-fill-lock"></i> Archivado</span>
          {% endif %}
          {% if project.role == 'admin' %}
            <span class="badge bg-primary badge-sm">Admin</span>
            {% if not project.archived and project.can_invoice %}
              <a href="{% url 'new_invoice_view' project_code=project_code %}">
                <span class="badge bg-danger badge-sm">+ Nueva Factura</span></a>
              <a href="{% url 'new_expense_view' project_code=project_code %}">
                <span class="badge bg-warning badge-sm">+ Nuevo Gasto</span></a>
            {% endif %}
          {% endif %}
      </li>
    {% endfor %}
  </ul>
  <hr>



  <div class="py-5 text-center">
    <h2>Mis Transacciones</h2>
  </div>
  <div class="container p-2">
    <div class="alert alert-dark" role="alert">
      {% include "frontend/transaction_form.html" %}
    </div>
  </div>
  <hr />
  {% for name, txs in transactions.items %}
  {%if txs %}
    <h3>{% if name == 'checking' %}Cuenta Corriente{%else%}{{name}}{%endif%}</h3>
    <table id="table-transactions" data-toggle="table" data-sort-name="total" data-sort-order="desc" class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="table-secondary">
          {% if user.is_superuser %} <th data-field="id" data-sortable="true">ID</th>{% endif %}
          <th data-field="fecha" data-sortable="true">Fecha</th>
          <th data-field="cliente" data-sortable="true">Origen</th>
          <th data-field="destino" data-sortable="true">Destino</th>
          <th data-field="total" data-sortable="true">Total</th>
          <th class="d-none d-sm-table-cell" data-field="referencia" data-sortable="true">Referencia</th>
          <th class="d-none d-sm-table-cell" data-field="estado" data-sortable="true">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for tx in txs %}
        <tr>
          {% if user.is_superuser %}<td><a href="{{ODOO_DOMAIN}}/web#id={{tx.id}}&action=215&model=account.move&view_type=form" target="_blank">{{tx.id}}</a></td> {% endif %}
          <td>{{tx.date}}</td>
          <td>{{tx.sender}}</td>
          <td>{{tx.receiver}}</td> 
          <td><span {% if not tx.positive %}style="color:red"{% endif %}>{{tx.amount_total}}€</span></td>
          <td class="d-none d-sm-table-cell">{{tx.ref}}</td>
          <td class="d-none d-sm-table-cell">{{tx.state}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% endfor %}
</div>


{% endblock %}
{% block script %}
<script src="/static/js/transactions.js"></script>


{% endblock %}
