{% extends "base.html" %}
{% load static %}
{% block title %}
<title>GNB Nuevo Gasto</title>
{% endblock %}

{% block content %}

<div class="py-5 text-center">
  <h2>Crear nuevo gasto en proyecto [{{project_code}}]</h2>
</div>
<form id="new_expense" enctype="multipart/form-data" class="needs-validation" novalidate>
  <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">
  <input type="hidden" id="journal" name="journal" value="{{project_code}}">

  
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm-4">
        <label for="date" class="form-label">Fecha de hoja de gastos <span class="text-muted">(Opcional)</span></label>
        <input type="date" class="form-control" name="date" id="date" placeholder="pulsa para elegir fecha">
        <div class="invalid-feedback">
          Please enter a valid date.
        </div>
      </div>
    </div>
    <div id="div-expense_type-0" class="row justify-content-between">
      <div class="mx-3 form-check">
        <input class="form-check-input" type="radio" id="type_expense_normal" name="type_expense" value="normal_expense" checked>
        <label class="form-check-label"">
                  Gastos corrientes, viajes y dietas.
              </label>
          </div>
          <div class=" mx-3 form-check">
          <input class="form-check-input" type="radio" id="type_expense_receipt" name="type_expense" value="receipt_expense" >
          <label class="form-check-label">
            Documentado con factura.
          </label>
      </div>
    </div>

    <hr class="my-4">
    <div id="inputContainer-d">
      <div class="input-row row gy-3" id="inputRow-0">
        <h5 class="mb-3"><span id="expense_number">Gasto 1</span> <button type="button"
            class="btn btn-xs bg-black text-white rem-row-button"><i class="bi bi-trash"></i></button></h5>


        <div class="row justify-content-between">
          <div id="div-reference-0" class="mt-3 mb-3 col-sm-4">
            <label for="reference-0" class="form-label">Referencia del proveedor</label>
            <input type="text" class="form-control" id="reference-0" name="reference-0"
              placeholder="Escribe la ref. del proveedor o nº de factura.">
          </div>
        </div>

        <div id="div-typeselect-0" class="col-sm-2">
          <label class="form-label">Tipo de gasto</label>
          <select class="form-select" id="typeselect-0">
            <option value="tipo_normal" selected>---</option>
            <option value="tipo_viaje">Viaje</option>
            <option value="tipo_dietas">Dietas</option>
            <option value="tipo_Pernoctas">Pernoctas</option>
            <option value="tipo_producto">Producto / Servicio</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label class="form-label">Fecha</label>
          <input type="date" class="form-control" id="date_line-0" name="date_line-0"
            placeholder="pulsa para elegir fecha" required>
        </div>
        <div class="col-sm-2 offset-sm-3">
          <label class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="quantity-0" name="quantity-0" value=1 required>
        </div>

        <div class="col-md-2">
          <label class="form-label">Precio por unidad</label>
          <input id="price-0" type="number" class="form-control" placeholder="0.00" required name="price-0" min="0.01"
            value="1,00" step="0.01" title="precio" required>
        </div>

        <div class="mt-3 row justify-content-between">
          <div id="div-taxes-0" class="col-sm-4">
            <label class="form-label">¿Lleva impuestos?</label>
            <select class="form-select" id="taxes-0" name="taxes-0" required value=2 aria-label="Selecciona el IVA">>
              <option value=47 data-tax-amount=0 selected>Sin IVA</option>
              <option value=42 data-tax-amount=4>IVA 4%</option>
              <option value=43 data-tax-amount=10>IVA 10%</option>
              <option value=2 data-tax-amount=21>IVA 21%</option>
              <option value=65 data-tax-amount=0>Exportación</option>
              <option value=19 data-tax-amount=0>Servicio intracomunitario</option>
            </select>

            <div id="div-file-0">
              <label class="mt-2 form-label">Adjunta factura</label>
              <input class=" form-control" type="file" name="file-0" id="file-0" />
            </div>
          </div>
          <div class="col-sm-8">
            <label class="form-label">Concepto de gasto</label>
            <textarea class="form-control" id="description-0" name="description-0" rows="3" required></textarea>

          </div>
        </div>
        <hr>
      </div> <!-- End expense line -->
      <!--Create new row button -->
      <div class="container">
        <div class="row align-items-center mt-md-2">
          <div class="col-sm-12 text-end">
            <button type="button" class="btn btn-primary add-row-button"><i class="bi bi-plus"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr class="my-4">
  <div class="col-sm-4 ">
    <p><span class="text-black me-4 align-top">SubTotal: </span><span id="subtotalValue">xxx</span> €</p>
    <p><span class="text-black me-4 align-top">Impuestos: </span><span id="taxesValue">xxx</span> €</p>
    <p style="font-size: 22px; font-weight: bold;"><span class="me-3 text-black">Importe total:</span><span id="totalValue">xxx</span> €</p>
  </div>
  <!-- DESTINO-->
  <div id="destino">
    <!-- Campo de cuenta IBAN destino -->
    <hr class="my-4">
    <h5>En caso que el gasto esté asociado a un pago a realizar, especique los datos bancarios del destino:</h5>
    <label for="iban_account" class="form-label">Cuenta IBAN destino</label>
    <div class="form-group" style="display: flex; align-items: center;">
      <input type="text" class="form-control" id="iban_account" required name="iban_account" minlength="10"
        placeholder="Escribe la cuenta IBAN destino (mínimo 10 caracteres)">
      <div id="iban-validation" style="margin-left: 10px;">
        <span id="iban-result"></span>
      </div>

    </div>
    <small class="text-muted" style="margin-left: 10px;">Este campo debe tener al menos 10 caracteres.</small>
    <!-- Campo de destinatario -->
    <div class="form-group">
      <label for="destinatario" class="form-label">Destinatario</label>
      <input type="text" class="form-control" id="iban_receiver" required name="iban_receiver" placeholder="Escribe el nombre del destinatario">
    </div>

    <!-- Campo de concepto -->
    <div class="form-group">
      <label for="concepto" class="form-label">Concepto</label>
      <input type="text" class="form-control" id="iban_concept" required name="iban_concept" placeholder="Escribe el concepto">
    </div>
  </div>
  
  <button class="w-100 btn btn-primary btn-lg" onclick="sendForm()" type="button">Enviar gasto</button>
</form>

{% endblock %}
{% block script %}

<script src="{% static 'js/iban.js' %}"></script>
<script src="{% static 'js/expenses.js' %}" type="text/javascript"></script>


{% endblock %}