<form method="post" id="new_account_move">
    <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">
    <div class="row">
      <div class="col-sm">
        <input type="hidden" id="from_account" name="from_account" value="{{from_account}}" >
        <input type="hidden" id="available_balance" value="{{available_balance}}" >
        <h4 class="text-xs font-weight-bold text-dark mb-1 mt-3">
          Elige una cuenta de destino
        </h4>
        <div>
          <input type="radio" id="internal_account" name="destination_type" value="internal_account" checked>
          <label for="internal_account">Cuenta Interna</label>
        </div>
        <select class="selectpicker mt-2" id="to_account_internal" name="to_account_internal"
          data-live-search="true" data-mdb-selected="['personal_account']" required>
          {%if from_account != user_email %}
            <option value="personal_account">Mi Cuenta Personal [{{user_email}}]</option>
          {% endif %}
          {% for k, v in all_accounts.items %}
            {%if k != from_account %}
              <option value="{{ k }}">[{{ k }}] {{v}}</option>
            {% endif %}
          {% endfor %}

        </select>
        <div>
          <input type="radio" id="external_account" name="destination_type" value="external_account">
          <label for="external_account">Cuenta Externa</label>
        </div>
        <input type="text" id="to_account_external" name="to_account_external" placeholder="Número de cuenta IBAN"
          class="form-control mt-2">
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-6">
            <h4 class="text-xs font-weight-bold text-dark mb-1">
              Elige cantidad:
            </h4>
          </div>
          <div class="col-6">
            <input style="max-width: 100px" id="transfer_amount" name="transfer_amount" type="number" value=""
              min="0" step="0.01" pattern="\d+(\.\d{1,2})?" placeholder="0 €" class="form-control p-3" required />
          </div>
        </div>
        <h4 class="text-xs font-weight-bold text-dark mb-1">
          y escribe un concepto:
        </h4>
        <textarea id="transfer_ref" name="transfer_ref" class="mt-3 form-control" rows="4"
          aria-label="With textarea" placeholder="Gracias por la sal..." required ></textarea>
        {% if user.is_superuser %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="avoid_notify" id="avoid_notify">
          <label class="form-check-label" for="avoid_notify">Evitar notificar a la cuenta receptora(Sólo
            admins)</label>
        </div>
        {% endif %}
      </div>
      <button type="button" class="w-90 btn btn-primary btn-lg mt-3" onclick="openConfirmModal()">
        <i class="bi bi-send"></i> Enviar transacción</button>
    </div>

  </form>