{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="GNB is not Bank" />
    <meta name="author" content="Komun Team" />


    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/images/logo.png" />
    <!-- Bootstrap icons-->
    <link href="/static/assets/bootstrap-icons-1.10.5/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet" />
    {% block head %}{% endblock %}
</head>
<body>
    <center><img src="/static/assets/images/logo.png"/></center>
    <div class="container d-flex align-items-center justify-content-center">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <h1>Entrar</h1>
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% include "frontend/footer.html" %}

    <!-- Bootstrap core JS-->
    <script src="/static/js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
