{% extends "base.html" %}
{% block head %}

{% endblock %}
{% load static %}
{% block title %}
<title>GNB Nuevo Ingreso/Cash-in</title>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="p-3 d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="mb-0 text-gray-800">GNB Nuevo Ingreso/Cash-in</h1>
    </div>
  </div>
  <form id="form" method="post" action="" class="needs-validation" validate>
    <div class="row">
      <div class="col-sm-4">
        <label for="unpaid_invoice" class="form-label">Factura correspondiente:</label>
        <div class="row mb-3">
          <select class="selectpicker" id="unpaid_invoice" name="unpaid_invoice" data-live-search="true">
            <option value="" data-account="">----</option>
            {% for invoice in unpaid_invoices %}
            <option value="{{ invoice.name }}" data-project="{{invoice.project}}"
              data-amount="{{ invoice.amount_residual_signed|floatformat:2 }}">[{{ invoice.name }}] ({{invoice.amount_residual_signed|floatformat:2 }}€)</option>
            {% endfor %}
          </select>
        </div>

        <div class="row mb-3">
          <label for="from_journal" class="form-label">Recibido vía:</label>
          <select class="selectpicker" id="from_journal" name="from_journal" data-live-search="true" required>
            <option value="" selected >----</option>
            {% for p in payment_accounts %}
            <option value="{{ p.id }}" data-custom="{{ p.id }}">{{ p.name }}</option>
            {% endfor %}
          </select>
        </div>


        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked name="notify_project" id="notify_project">
          <label class="form-check-label" for="notify_project">Notificar a responsables del proyecto</label>
        </div>
      </div>

      <div class="col-sm-4 offset-sm-3">
        <div class="row mb-3">
          <label for="project_name" class="form-label">Fecha</label>
          <input type="date" class="mb-3 form-control" name="cashin_date" id="cashin_date"
            placeholder="pulsa para elegir fecha" required>
          <div class="invalid-feedback">
            Please enter a valid date.
          </div>
        </div>
        <div class="row mb-3">
          <label for="address" class="form-label">Referencia del movimiento</label>
          <input type="text" class="form-control" id="reference" name="reference" value="Ingreso en Cuenta Bancaria"
            required>
        </div>
        <div class="row mb-3">
          <label for="received_amount" class="form-label">Cantidad</label>
          <input type="number" class="form-control" name="received_amount" id="received_amount" style="width: 200px;"
          required min="0" step="0.01" pattern="\d+(\.\d{1,2})?" >
          <div class="invalid-feedback">
            Cantidad requerida
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked name="pay_taxes" id="pay_taxes">
            <label class="form-check-label" for="pay_taxes">Pagar impuestos</label>
          </div>
        </div>

      </div>
      <hr class="my-4">
      <button class="w-100 btn btn-primary btn-lg" type="submit"
        type="button">Asignar</button>
      <hr class="my-4">
  </form>
</div>

{% endblock %}
{% block script %}

<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
<script>
  $(document).ready(function () {
    // Get references to the relevant elements
    var currentDate = new Date().toISOString().split('T')[0];
    document.getElementById('cashin_date').value = currentDate;
    var fromJournalSelectpicker = $('#from_journal');
    var referenceInput = $('#reference');
    var notifyProjectCheckbox = $('#notify_project');
    var payTaxesCheckbox = $('#pay_taxes');
    notifyProjectCheckbox.prop("disabled", true);
    payTaxesCheckbox.prop("disabled", true);

    // Attach an event listener to the change event of unpaid_invoice select
    $('#unpaid_invoice').on('change', function () {
      // Get the selected option
      var selectedOption = $(this).find('option:selected');
      $('#received_amount').val(selectedOption.data('amount'));
      // fromJournalSelectpicker.selectpicker('val', selectedOption.data('project'));
      if (selectedOption.val() === '') {
        referenceInput.val("Ingreso en Cuenta Bancaria")
        notifyProjectCheckbox.prop("disabled", true);
        payTaxesCheckbox.prop("disabled", true);
      }else{
        referenceInput.val(selectedOption.val())
        notifyProjectCheckbox.prop("disabled", false);
        payTaxesCheckbox.prop("disabled", false);
      }
    });
  });
</script>
{% endblock %}