{% extends "base.html" %}
{% load static %}
{% block title %}
<title>GNB Nuevo Proyecto</title>
{% endblock %}

{% block content %}
{% if not project %}
<form id="form" method="post" class="needs-validation" action="">
    {% csrf_token %}
    <div class="py-5 text-center">
        <h2>Crear proyecto nuevo</h2>
    </div>
    <div class="row mb-3">
        <label for="project_id" class="form-label">Siglas del proyecto (Ej. KOM)</label>
        <input type="text" class="form-control" id="project_code" name="project_code" placeholder="Ej. KOM" pattern=".{3,3}" maxlength="3" required>
    </div>
    <div class="row mb-3">
        <label for="project_name" class="form-label">Nombre del proyecto</label>
        <input type="text" class="form-control" id="project_name" name="project_name"
            placeholder="Ej. Nombre del proyecto" required>
    </div>
    <div class="row mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" checked name="project_is_member" id="project_is_member">
            <label class="form-check-label" for="project_is_member">Crear diarios y cuentas de ingresos/gastos</label>
        </div>
    </div>

    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg"  type="submit">Crear o Recrear</button>
    <hr class="my-4">
</form>
{% else %}
    Detalles del proyecto creado/actualizado:<br>
        {% for k,v in update_details.items %}
            <b>{{k}}</b>: {{v}}<br>
        {% endfor %}
    <br>Puedes ver los detalles del proyecto en el <a href="/admin/gnb/project/{{project.id}}/change/">admin de Django</a>
    <br><a class="btn btn-primary" href="{% url 'new_project_view' %}">Añadir otro grupo</a>
{% endif %}

{% endblock %}
{% block script %}

<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>


{% endblock %}