{% extends "base.html" %}
{% load static %}
{% block title %}
<title>GNB Nuev@ Usuari@</title>
{% endblock %}

{% block content %}
{% if not object %}
<form id="form" method="post" action="" class="needs-validation" novalidate>
    <div class="py-5 text-center">
        <h2>Crear nuev@ usuari@</h2>
    </div>
    <div class="row mb-3">
        <label for="user_email" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="user_email" name="user_email" placeholder="Ej. aaa@aaa.es" required>
    </div>
    <div class="row mb-3">
        <label for="user_firstname" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="user_firstname" name="user_firstname" placeholder="Ej. Fulanito" required>
    </div>
    <div class="row mb-3">
        <label for="user_lastname" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="user_lastname" name="user_lastname" placeholder="Ej. Fulanito" required>
    </div>
    <div class="row mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" checked name="user_is_member" id="user_is_member">
            <label class="form-check-label" for="project_is_member">Crear cuentas de ingresos/gastos</label>
        </div>
    </div>

    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg"  type="submit">Crear o Recrear</button>
    <hr class="my-4">
</form>
{% else %}
    Detalles del usuari@ creado/actualizado:<br>
        {% for k,v in update_details.items %}
            <b>{{k}}</b>: {{v}}<br>
        {% endfor %}
    <br>Puedes ver los detalles del usuario en el <a href="/admin/auth/user/{{object.id}}/change/">admin de Django</a>
    <br><a class="btn btn-primary" href="{% url 'new_user_view' %}">Añadir otr@ usuari@</a>
{% endif %}


{% endblock %}
{% block script %}

<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>


{% endblock %}