{% extends "base.html" %}
{% block head %}
<script src="/static/js/html2pdf.bundle.js"></script>
{% endblock %}
{% block title %}
<title>GNB Reporte Proyectos</title>
{% endblock %}


{% block content %}
<div id="informe" class="container" style="margin-top:10px">

  <h3>GNB Reporte Proyectos</h3>

  <!-- Agrega un botón para generar el PDF -->
  <button id="generarPDF" class="btn btn-primary mt-3">Generar PDF</button>
  <div class="row">
    {% for p in total_projects %}
    <div class="col">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h3>{{ p.code }} {{ p.name }}:</h3>
          <div class="d-flex justify-content-between align-items-center alert alert-success" role="alert">
            Disponible Cuenta Corriente Proyecto
            <span class="badge rounded-pill bg-success"> {{ p.account_checking|floatformat:2 }} €</span>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="d-flex justify-content-between align-items-center alert accordion-button collapsed alert-info"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}"
                aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                <div class="justify-content-between align-items-center" role="alert">
                  Total sin justificar
                </div>
                <div class="position-absolute end-5">
                  <span class="badge rounded-pill bg-info">{{ p.total_unjustified|floatformat:2 }} €</span>
                </div>
              </button>
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse">
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Ingresos
                    <span class="badge bg-success rounded-pill">{{ p.account_sales|floatformat:2 }} €</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Gastos
                    <span class="badge bg-danger rounded-pill">{{ p.account_expenses|floatformat:2 }} €</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Ingresos no cobrados
                    <span class="badge bg-warning rounded-pill">{{ p.total_invoices_untaxed|floatformat:2 }} €</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Gastos no pagados
                    <span class="badge bg-warning rounded-pill">{{ p.total_unpaid_expenses|floatformat:2 }} €</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  // Función para expandir el contenido antes de generar el PDF
  function expandirContenido() {
    const accordions = document.querySelectorAll('.accordion-collapse');
    accordions.forEach(accordion => {
      accordion.classList.add('show'); // Añadir la clase 'show' para expandir el contenido
    });
  }

  // Función para generar PDF del contenido específico
  function generarPDF() {
    // Ocultar el botón después de hacer clic
    const botonGenerarPDF = document.getElementById('generarPDF');
    if (botonGenerarPDF) {
      botonGenerarPDF.style.display = 'none';
    }
    // Expandir el contenido antes de la conversión a PDF
    expandirContenido();
    // Selecciona el elemento que deseas convertir a PDF
    const elementoParaConvertir = document.getElementById('informe');

    // Opciones para la generación del PDF
    const opciones = {
      margin: 5,
      filename: 'mi_documento.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
    };

    // Llama a la función html2pdf con las opciones
    html2pdf(elementoParaConvertir, opciones);
  }

  // Asocia la función generarPDF al clic del botón
  document.getElementById('generarPDF').addEventListener('click', generarPDF);
</script>
{% endblock %}