{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}
<title>GNB Reporte Usuari@s</title>
{% endblock %}



{% block content %}
<h3>GNB Reporte Usuari@s</h3>
<div class="container-fluid" style="margin-top:10px">
  {% for u in total_users %}
  {{ u.username }}: Corriente: ({{ u.account_checking|floatformat:2 }}€) , Capital Social: ({{
  u.account_social_capital|floatformat:2 }}€)<br>
  {% endfor %}
  <hr>

  {% endblock %}