{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <div class="container white mr-top-60 mr-bottom-60">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<h2 class="page-404-title pg-404-tit mr-top-0 ">4<img alt="" src="https://positiveblockchain.io/wp-content/themes/listingpro/assets/images/404.png" />4</h2>
						<p class="pg-404-p text-center padding-top-20"> Ooops, Ghost HERE </p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center pad-top-15 padding-bottom-30">
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<p>
									The page you are looking for might have been removed or is temporarily unavailable....
								</p>
							</div>
						</div>
					</div>
				</div>
    </div>
{% endblock %}
