{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Aplicación Financiera descentralizada" />
    <meta name="author" content="Komun Team" />
    <script src="{% static 'js/jquery-3.5.1.min.js' %}" crossorigin="anonymous"></script>
    {% block title %} {% endblock %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/logo.png' %}" />
    <!-- Bootstrap icons-->
    <link href="{% static 'assets/bootstrap-icons-1.10.5/bootstrap-icons.css' %}" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="/static/css/bootstrap-select.css" rel="stylesheet" />
    
    {% block head %}{% endblock %}
</head>
<body>
    {% if DEV %}
    <div class="alert alert-warning" role="alert" >
        Versión Desarrollo de GNB <b>v{{APP_VERSION}}</b>. Base de datos: <b>{{CURRENT_DATABASE}}</b>
    </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% include "frontend/menu.html" %}
    <div class="container" style="margin-bottom: 20px;">
    <main>
        {% block content %}{% endblock %}
    </main>
    </div>
    <div class="loader" id="loading-screen"></div>
    <div id="loading-overlay"></div>
    {% include "frontend/footer.html" %}

    <!-- Bootstrap core JS-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block script %}{% endblock %}

</body>
</html>
