{% extends "base.html" %}
{% load i18n %}

{% block title %}Logged out{% endblock %}

{% block content %}

<p>{% trans "Thanks for spending some quality time with the website today." %}</p>

<p><a href="{% url 'index' %}">{% trans 'Return to the home page' %}</a></p>

<p><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>

{% endblock %}