{% extends "django_registration/registration_base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/login.css" %}">
{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'password_reset' as auth_pwd_reset_url %}
{% url 'django_registration_register' as register_url%}

{% if odooprofile_error %}
<div class="alert alert-danger" role="alert">
    {{ odooprofile_error }}
</div>
{% endif %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
{% endfor %}
{% endfor %}
{% if form.non_field_errors %}
<ul class="errorlist nonfield">
    {% for error in form.non_field_errors %}
    <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">{% csrf_token %}
    <table>
        <tr>
            <td>{% trans form.username.label_tag %}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{% trans form.password.label_tag %}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary" value="{% trans " login" %}">Entrar</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Recordar contraseña</a>{% endblocktrans %}</p>
{# NOTE: settings is not put into the template by default, you have to override the login view with extra_context #}
{# See https://docs.djangoproject.com/en/2.2/topics/auth/default/#django.contrib.auth.views.LoginView #}
{% if settings.REGISTRATION_OPEN %}
<p>{% blocktrans %}<a href="{{ register_url }}">¿Quieres crear una cuenta?</a>?{% endblocktrans %}</p>
{% endif %}

{% endblock %}