{% extends "django_registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Restablecer contraseña" %}{% endblock %}
{% block content %}{% blocktrans %}
¿Has olvidado tu contraseña? Ingresa tu dirección de correo electrónico en el siguiente formulario y te enviaremos
instrucciones para crear una nueva.{% endblocktrans %}
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="{% trans "Restablecer la contraseña" %}" /></td></tr>
</table>
</form>
{% endblock %}
